@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body {
  font-family: "Jost", sans-serif;
  color: #747474;
  background: #fafafb;
}

input,
select {
  border-width: 0 !important;
}

input:focus-within, select:focus-within {
  box-shadow: none !important;
}